<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ id === 'nuevo' ? 'Nuevo Juego' : 'Detalles del Juego' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- No mostrar el ID en la tarjeta -->
      <ion-card-title>{{ id === 'nuevo' ? 'Nuevo Juego' : document.data.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="clicBotonModificar()" #juegoForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="document.data.nombre" name="nombre" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-input type="text" [(ngModel)]="document.data.descripcion" name="descripcion" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Jugadores Mínimos</ion-label>
            <ion-input type="number" [(ngModel)]="document.data.jugadores_min" name="jugadores_min" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" [(ngModel)]="document.data.precio" name="precio" required></ion-input>
          </ion-item>
        </ion-list>

        <div class="ion-padding">
          <ion-button expand="block" color="danger" *ngIf="id !== 'nuevo'" (click)="clicBotonBorrar()">Borrar juego</ion-button>
          <ion-button expand="block" color="primary" type="submit">{{ id === 'nuevo' ? 'Guardar' : 'Modificar juego' }}</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>