<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>LISTA DE JUEGOS</h1>
  <ion-list>
    <ion-item *ngFor="let documentJuego of arrayColeccionJuegos" (click)="selecJuego(documentJuego)">
      <ion-grid>
        <ion-row>
          <h2>{{documentJuego.data.nombre}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentJuego.data.descripcion}}</p>
        </ion-row>
        <ion-row>
          <p>Jugadores: {{documentJuego.data.jugadores_min}}</p>
        </ion-row>
        <ion-row>
          <p>Precio: {{documentJuego.data.precio}}€</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>